fastapi==0.115.6
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
ipykernel 
ipython 
isodate==0.7.2
isort==5.13.2
itsdangerous==2.2.0
jedi 
Jinja2==3.1.5
numpy==1.26.4
onnx==1.17.0
onnxruntime==1.20.1
onnxslim==0.1.46
opencv-python-headless==4.10.0.84
pydantic==2.10.4
pydantic_core==2.27.2
regex==2024.11.6
requests==2.32.3
scikit-learn==1.6.0
scipy==1.14.1
six 
slowapi==0.1.9
toml==0.10.2
tornado 
tqdm==4.67.1
ua-parser==1.0.0
ultralytics==8.3.58
ultralytics-thop==2.0.13
uvicorn==0.34.0
Werkzeug==3.1.3
